<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/dark-theme.css">
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta name="author" content="Konstantin Kabanov">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  <meta property="og:image" content="/assets/images/konstantin_userpic.jpeg">
</head>
<body>

  <header class="site-header">
    <div class="site-header-content">
      <div class="left-section">
        <img src="/assets/images/konstantin_userpic.jpeg" alt="Konstantin Kabanov" class="avatar" />
        {% if page.url == "/" %}
          <h1 class="site-title">Poor Konstantin's Almanac</h1>
        {% else %}
          <a href="/" class="site-title">Poor Konstantin's Almanac</a>
        {% endif %}
      </div>
      <nav class="right-section">
        <a href="/about">About me</a>
        <a href="/articles">Articles</a>
      </nav>
    </div>
  </header>

  <div class="page-content">
    {% unless page.url == "/" %}
      <h1 class="page-title">{{ page.title }}</h1>
    {% endunless %}

    {{ content }}
    
    {% include footer.html %}
  </div>
  
</body>
</html>
