<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/dark-theme.css">
</head>
<body>
<!-- 
  <header class="site-header">
    <div class="avatar-wrapper">
      <img src="/assets/images/konstantin_userpic.jpeg" alt="Konstantin Kabanov" class="avatar" />
    </div>
    <h1 class="site-title">Poor Konstantin's Almanac</h1>
  </header> -->
  {% if page.url == "/" %}
  <header class="site-header">
    <div class="site-header-content">
      <img src="/assets/images/konstantin_userpic.jpeg" alt="Konstantin Kabanov" class="avatar" />
      <h1 class="site-title">Poor Konstantin's Almanac</h1>
    </div>
  </header>
  {% endif %}
  {% unless page.url == "/" %}
    <h2 class="page-title">{{ page.title }}</h2>
  {% endunless %}
  
  
  {{ content }}

  {% include footer.html %}
</body>
</html>
